body {
    width: 100%;
    margin: 25px;
    background: url(./img/background.png);
    height: 100%;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-item:not(:last-child) {
    margin-right: 63px;
    color: black;
}

.menu-item a {
    text-decoration: none;
    color: goldenrod ;
}

.active {
    font-weight: bold;
}

.main-text {
    font-weight: 500px;
    font-size: 53px;
    line-height: 62px;
    color: crimson;
}

.quote {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-left: 0;
    opacity: 0.7;
    color: aqua;
}

.button-order {
    all: unset;
    padding: 60px 100px;
    background: #f69;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.link {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    background-color: #1e88e5;
    border-radius: 4px;
    color: #ffffff;
    padding: 15px 25px;
}

.link:hover {
    background-color:red ;
}

.logo {
    width: 30%;
}

.navbar {
    font-size: 18px;
}

.add {
    overflow: hidden;
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    min-height: 40px;
}

#callback {
    width: 300px;
    height: 150px;
    background-color: grey;
    position: absolute;
    bottom: 30px;
    transform: translateX(-100%);
} 

#callback p {
    color: #fff;
    padding: 22px;
}

#callback:after {
    content: 'Вопросы и предложения';
    background-color: blueviolet;
}

#callback:after {
    content: 'Вопросы и предложения';
    background-color: blueviolet;
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 5px 0;
    width: 150px;
    position: absolute;
    left: 300px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

#callback:hover {
    transform: translateX(0%);
    transition: all 0.7s ease;
}
 
h1 {
    width: 50vw;
    color: red;
}

@keyframes myAnim {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 500px;
    }
}

h1 {
    animation: myAnim 5s linear alternate infinite;
}

